/*
width 1440 - 1347 = 93
*/
body {
    position: absolute;
    width: 1347px;/*width: 1440px;*/
    height: 5020px;
    left: 0px;
    top: 0px;
    background: #F5F5F5;
    border: 1px solid #000000;
}

.topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    height: 488px;
    left: 0px;
    right: 0px;
    top: 0px;
    border: 1px solid #000000;
}

.menu-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    position: static;
    width: 1043px;
    height: 88px;
    left: 152px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px;
    border: 1px solid #000000;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;/*absolute*/
    width: 134px;
    height: 24px;
    left: 0px;
    top: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -33px;
    border: 1px solid #000000;
}

.imagem-logo {
    position: static;
    width: 24px;
    height: 24px;
}

.nome-logo {
    position: static;
    width: 102px;
    height: 19px;
    left: 32px;
    top: 2.5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 8px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 0px;
    position: static;
    width: 699px;
    height: 19px;
    left: 494px;
    top: 34.5px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px -33px;
    border: 1px solid #000000;
}

.link-itens {
    position: static;
    height: 19px;
    top: 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    flex: none;
    flex-grow: 0;
    display: inline;
    align-items: center;
    text-decoration: none;
    padding-right: 46px;
}

#mail {
    font-weight: bold;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: static;
    width: 1107px;
    /*width: 1136px;*/
    height: 368px;
    /*left: 152px;*/
    /*top:120px;*/
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 120px 0px 0px 119px;
    border: 1px solid #000000;
}

.conteudo-apresentacao {
    display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
    position: static;
    width: 751px;
    height: 246px;
    left: 0px;
    top: 61px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 208px 0px;
    border: 1px solid #000000;
}

#titulo {
    position: static;
    width: 751px;
    height: 122px;
    left: 0px;
    top: 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 53px;
    line-height: 61px;
    color: #464646;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px 0px 0px;
}

.texto1 {
    position: static;
    left: 0px;
    top: 146px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    color: #464646;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px 0px 0px;
    display: inline;
    text-align: justify;
    border: 1px solid #000000;
}

.imagem {
    position: static;
    width: 368px;
    height: 368px;
    left: 768;
    top: 0px;
    background: url(foto.jpg) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #000000;
}

.lista-redes-sociais {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 467px;
    height: 24px;
    left: 0px;
    top: 222px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 21px 0px;
    border: 1px solid #000000;
}

.itens-redes-sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 80px;
    height: 24px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px;
}

#links-redes-sociais {    
    width: 88px;
    height: 19px;
    left: 0px;
    top: 2.5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
}

.secao-sobre-mim {
    width: 1346px;
    height: 383px;
    background: #EAF2FD;
    margin-top: 32px;
    border: 1px solid #000000;
}

.sobre {
    width: 1136px;
    height: 255px;
    margin-top: 64px;
    margin-left: 103px;
    border: 1px solid #000000;
}

#titulo-sobre-mim {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}

#texto {
    position: static;
    width: 751px;
    height: 133px;
    left: 0px;
    top: 54px;    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.secao-skills-e-hobbies {
    width: 1346px;
    height: 1245px;
    margin-top: 32px;
    border: 1px solid #000000;
}

.area-de-skills, .area-de-hobbies {
    width: 1043px;
    height: 244px;
    margin-left: 151px;
    border: 1px solid #000000;
}

#titulo-skills, #titulo-hobbies {
    text-align: center;
    font-family: 'Raleway';
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    color: #464646;
}

.caixa-skills, .caixa-hobbies {
    width: 1042px;
    height: 174px;
    margin-top: 38px;
    border: 1px solid #000000;
}

.lista-skills, .lista-hobbies {
    display: flex;
    margin: 0px -7px;
}

.item-skills, .item-hobbies {
    display: inline;
    width: 160.33px;
    height: 174px;
    background: #FFFFFF;
    margin: auto;
    border: 1px solid #000000;
}

.img-skills, .img-hobbies {
    margin-top: 94px;
    margin-left: 16px;
}

.titulos-skills, .titulos-hobbies {
    margin-top: 8px;
    margin-left: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #464646;
}

#hobbies {
    margin-top: 88px;
}

.area-formacao {
    width: 1345px;
    height: 581px;
    margin-top: 83px;
    background: #EAF2FD;
    border: 1px solid #000000;
}

.titulo-formacao {
    text-align: center;
    margin-top: 82px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}

.caixa-formação {
    width: 1136px;
    height: 347px;
    margin-top: 32px;
    margin-left: 102px;
    border: 1px solid #000000;
}

.lista-formacao {
    display: flex;
    margin: 0px -7px;
}

.item-formacao {
    width: 368px;
    height: 347px;
    display: inline;
    margin: auto;
    border: 1px solid #000000;
}